#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
footer {
  height: 60px;
  clear: both;
  padding: 25px 0 25px 0;
}
html,
body {
  height: 100%;
}
.content {
  margin: 40px 55px 40px 55px;
  padding: 0 15px 0 15px;
}
.glyphicon-remove,
.glyphicon-pause,
.glyphicon-play {
  cursor: pointer;
}
tr.unpublished {
  color: #cec1c2;
}
td.action {
  width: 20px;
}
.alert {
  margin-top: 20px;
}
.menu {
  padding: 15px;
  margin: 0 55px 0 55px;
}
